footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-col {
    height: 100px;
    width: 100px;
    background: var(--bs-blue);
    border: 2px black solid;
}

main {
    background: var(--bs-orange);
    height: 100%;
}

html {
    background: var(--bs-orange);
}

.movie-div:hover {
    transform: scale(1.1);
}
