body {
    background-color: rgb(236, 241, 250);
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-size: cover;
    background-position: top center;
}

.cursor-pointer {
    cursor: pointer;
}

.movie-div:hover {
    transform: scale(1.1);
}

.navbar {
    background-image: url("https://cdn.crispedge.com/dc4d01.png");
}

#description {
    background-image: url("https://cdn.crispedge.com/dc4d01.png");
}

.header-footer {
    background-image: url("https://img.freepik.com/free-photo/dark-blue-textile-texture_23-2147729354.jpg");
}

@media (max-width: 776px) {
    .img-div {
        margin-bottom: 20px;
    }
}

.modal-content {
    margin-top: 130px;
}